@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar img{
    width: 100px;
}
.buy-now-button{
    color: white;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
}
.bg-img-1{
    background-image: url("../images/hot-gadgets/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-part{
    height: 600px;
    background-image: url("../images/hot-gadgets/bg-2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.carousel-indicators{
    bottom: -116px;
}
.carousel-indicators li{
    width: 15px;
    height: 8px;
    background-color: #CECECE;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
}
.carousel-indicators .active{
    width: 30px;
    background-color: #FF9C35;
}
.smartphone-area{
    padding: 80px 0;
}
.card{
    border: none;
    text-align: center;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 15px;
}
.card-footer{
    border-top: none;
    background-color: white;

}
.card-deck{
    padding-top: 20px;
}
.orange-highlight{
    color: #FF9D00;
    text-decoration: none;
}
.orange-highlight:visited{
    color: #FF9D00;
}
.cat-section{
    padding-top: 80px;
}
.categories{
    padding: 80px 0;
}
.cat-header{
    text-align: center;
    position: relative;
}
.cat-header h3::after{
    position: absolute;
    content: "";
    width: 100px;
    left: 50%;
    top: 45px;
    border-radius: 5px;
    transform: translateX(-50%);
    border: 4px solid #FF9C35;
}
.items{
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px lightgray;
}
.bag{
    padding-top: 72%;
    padding-left: 20px;
}
.shoes{
    padding-top: 20px;
}
.col{
    padding-top: 40px;
}
.item-title{
    padding-top: 15px;
}
.item-2{
    padding-left: 42px;
}